@media (max-width: 1200px) {
    html, body {
        font-size: 14px;
    }
}

@media (max-width: 1100px) {
    html, body {
        font-size: 12px;
    }
}

@media (orientation: portrait), (max-width: 900px) {
    html, body {
        font-size: 1.7vw;
    }

    /* NAVBAR */

    #navbar ul {
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    #navbar li {
        margin: 0;
        padding: 0 4rem;
        width: 8rem;
    }

    #navbar a {
        text-align: center;
        padding: 2rem 1rem;
        font-size: 2rem;
        /* border: 1px solid red; */
    }

    /* ABOUT SECTION */

    #about {
        padding: 16rem 0;
    }

    #about > div:nth-child(3) {
        flex-direction: column;
        align-items: center;
    }

    #about > div:nth-child(3) > div:nth-child(1) {
        width: 80%;
        font-size: 1.5rem;
        margin-bottom: 15rem;
    }

    #word-wall {
        margin-left: -5vw;
    }

    /* PROJECTS SECTION */

    .projects {
        min-height: auto;
    }

    #projects {
        min-height: auto;
    }

    #projects-menu {
        min-width: 80%;
    }

    /* CONTACT SECTION */

    #contact {
        justify-content: space-around;
    }

    #contact-menu {
        margin-top: 3rem;
    }

}